
<div class="col-xs-12">
    <h3>Contact List</h3>
</div>
<div class="col-xs-12 nopadding-horizontal">

    <div class="panel panel-default">
        <table class="table table-bordred table-striped table-hover">

            <thead class="thead-default">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Mobile</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts">
                    <td class="col-sm-3 text-center">{{contact.name}}</td>
                    <td class="col-sm-3 text-center">{{contact.mobile}}</td>
                    <td class="col-sm-3 text-center">{{contact.email}}</td>
                    <td class="col-sm-3 text-center">
                        <a data-toggle="tooltip" title="Edit" class="glyphicon glyphicon-edit" (click)="EditContact(contact)"></a>
                        <a data-toggle="tooltip" title="Delete" class="glyphicon glyphicon-trash" (click)="DeleteContact(contact.id)"></a>
                    </td>
                </tr>

        </table>
    </div>
</div>